#intro {
	text-align: center;
	margin-left:50px;
	margin-right:50px;
	font-weight:bold;
}
#pageheader{
	color: #FFFFFF;
}
.img-circle{
	float:left;
	width:100%;
	height:75%;
	margin: auto;
}
body{
	background-color:#e0cb55;
	margin:0;
}


h1{
	text-align: center;
}
.header{
	font:Courier;
	text-decoration: underline;
}
.footerlink{
	color:#000000;
}
.messageheader{
	text-align: center;
	text-decoration: none;
}
#message{
	margin:auto;
	margin-top: 3%;
}

.usernameinput{
	width:20%;
	float:left;

}

#hourlyDiv{
	display: none;
}
#salaryDiv{
	display: none;
}

.messageinput{
	float:left;
	width:100%;

}
iframe{
	margin-left: 25%;
	margin-right:25%;
	margin-top: 3%
}



